---
layout: default
---

<!DOCTYPE html>
<html>
<head>
<!-- OG Origin tags for social media share preview -->
	<meta charset="UTF-8">
	<meta property="og:site_name" content="{{ site.name }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image }}" />
	<meta property="og:description" content="{{ content | strip_html | truncate: 150 }}" />
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
	<meta property="og:type" content="website" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{{ page.description }}" />
	<meta name="twitter:image" content="{{ page.image }}" />

	<title>{{ page.title }}</title>
</head>
<body>
	<div id="main-container">
		{% include leftpane.html %}
		{% include postcontent.html %}
			<!-- User box and comments are included on postcontent.html-->
		{% include rightpane.html %}
	</div>
</body>
</html>
